stepFunction.yml
---
Comment: A Step function to send reminder emails afer 24 hrs
StartAt: Add Email To DB
States:
  Add Email To DB:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:us-east-1",
                { "Ref": "AWS::AccountID" },
                "function:${self:service}-${self:provider.state}-addSignup",
              ],
            ],
        }
      Payload.$: "$"
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: Wait for 60sec
  Wait for 60sec:
    Type: Wait
    Seconds: 60
    Next: Read DB
  Read DB:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:us-east-1",
                { "Ref": "AWS::AccountID" },
                "function:${self:service}-${self:provider.state}-getSignup",
              ],
            ],
        }
      Payload.$: "$"
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: Has Played
  Has Played:
    Type: Choice
    Choices:
      - Variable: "$.Payload.played"
        StringMatches: "true"
        Next: Nothing
    Default: Send Reminder Email
  Send Reminder Email:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:us-east-1",
                { "Ref": "AWS::AccountID" },
                "function:${self:service}-${self:provider.state}-sendReminderEmail",
              ],
            ],
        }
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
  Nothing:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:us-east-1",
                { "Ref": "AWS::AccountID" },
                "function:${self:service}-${self:provider.state}-nothing",
              ],
            ],
        }
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
